@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

$PrimeColor: #818cf8;
$TextColor: #666687;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Ropa Sans", sans-serif;
}

body {
    margin-bottom: 30px;
}